<a href="https://colab.research.google.com/github/tbeucler/2022_Intro_Python/blob/main/Week1_2_Data_structure.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Data Structure**
In this notebook, we will be discovering how data is stored in Python. We will cover:

1. Lists
2. Tuples
3. Dictionaries 

Reference:
* IBM Congnitive Class - Intro to Python (https://github.com/computationalcore/introduction-to-python)
* CUSP UCSL bootcamp 2017 (https://github.com/Mohitsharma44/ucsl17)

## **Lists**
Creating lists is very easy in Python. We can create lists by separating different items with commas in square brackets:\
`[Item1,Item2,Item3]`

There are many different ways to interact with lists. Exploring them is part of the fun of Python.

**list.append(x)** Add an item to the end of the list. Equivalent to `a[len(a):] = [x]`.

**list.extend(L)** Extend the list by appending all the items in the given list. Equivalent to `a[len(a):] = L`.

**list.insert(i, x)** Insert an item at a given position. The first argument is 
the index of the element before which to insert, so `a.insert(0, x)` inserts 
at the front of the list, and `a.insert(len(a), x)` is equivalent to 
`a.append(x)`.

**list.remove(x)** Remove the first item from the list whose value is x. It is an error if there is no such item.

**list.pop([i])** Remove the item at the given position in the list, and return it. 
If no index is specified, `a.pop()` removes and returns the last item in the list. 
(The square brackets around the i in the method signature denote that the 
 parameter is optional, not that you should type square brackets at that 
 position. You will see this notation frequently in the Python Library Reference.)

**list.clear()** Remove all items from the list. Equivalent to `del a[:]`.

**list.index(x)** Return the index in the list of the first item whose value is x. 
It is an error if there is no such item.

**list.count(x)** Return the number of times x appears in the list.

**list.sort()** Sort the items of the list in place.

**list.reverse()** Reverse the elements of the list in place.

**list.copy()** Return a shallow copy of the list. Equivalent to `a[:]`.

In [2]:
# Let's experiment with some of these methods!
# 1. Create a list first
l = ['dog', 'cat', 'fish','chicken','eggs','duck']
type(l)

list

In [3]:
# Slicing the list
print(l[0],l[-1],l[0:3],l[-3:-1])

dog duck ['dog', 'cat', 'fish'] ['chicken', 'eggs']

**Consider memorizing this syntax!** 
It is central to so much of Python and often proves confusing for users coming from other languages.

#### **Updating list**
Unlike strings and tuples, lists are mutable. You can update the list and change the items whenever you want.

In [4]:
my_list = ['dog', 'cat', 'fish','chicken','eggs','duck']
my_list[2] = 'Tree'
print('Original Contents: \n', my_list)
print('Original Length of array: \n', len(my_list))

# Remove some elements/ changing the size
my_list[2:4] = []
print('Modified Contents: \n', my_list)
print('Modified Length of array: \n', len(my_list))

Original Contents:
 ['dog', 'cat', 'Tree', 'chicken', 'eggs', 'duck']
Original Length of array:
 6
Modified Contents:
 ['dog', 'cat', 'eggs', 'duck']
Modified Length of array:
 4

Let modify the list with some list specific methods we have discussed earlier

In [6]:
#@title  #### **Add new items to list**
my_list = ['dog', 'cat', 'fish','chicken','eggs','duck']
my_list.append('Python') # It will append the item to the end of the list
print(my_list)
my_list.insert(0, 'Julia')
print(my_list)

['dog', 'cat', 'fish', 'chicken', 'eggs', 'duck', 'Python']
['Julia', 'dog', 'cat', 'fish', 'chicken', 'eggs', 'duck', 'Python']

In [8]:
#@title  #### **Remove list items**
my_list.pop(0)
print(my_list)
del(my_list[-1])
print(my_list)

['cat', 'fish', 'chicken', 'eggs', 'duck', 'Python']
['cat', 'fish', 'chicken', 'eggs', 'duck']

In [10]:
#@title #### **Count, Index**
print(my_list.count('fish'))
print(my_list.index('duck'))

1
4

In [13]:
#@title #### **Sort, Reverse**
my_list = ['dog', 'cat', 'fish','chicken','eggs','duck']
my_list.reverse()
print(my_list)
my_list.sort()
print(my_list)
my_list.sort(reverse=True)
print(my_list)

['duck', 'eggs', 'chicken', 'fish', 'cat', 'dog']
['cat', 'chicken', 'dog', 'duck', 'eggs', 'fish']
['fish', 'eggs', 'duck', 'dog', 'chicken', 'cat']

In [14]:
#@title #### **List Concatenation**
my_list = ['dog', 'cat', 'fish','chicken','eggs','duck']
my_list2 = ['Python','Julia','C++']
print(my_list+my_list2)
my_list.extend(my_list2)
print(my_list)

['dog', 'cat', 'fish', 'chicken', 'eggs', 'duck', 'Python', 'Julia', 'C++']
['dog', 'cat', 'fish', 'chicken', 'eggs', 'duck', 'Python', 'Julia', 'C++']

#### **Use lists in loops**

In [15]:
for index in range(len(my_list)): # start from 0 and go till the length of the list.
    print("my_list[{}] : {}".format(index, my_list[index]))

my_list[0] : dog
my_list[1] : cat
my_list[2] : fish
my_list[3] : chicken
my_list[4] : eggs
my_list[5] : duck
my_list[6] : Python
my_list[7] : Julia
my_list[8] : C++

In [17]:
# We can actually do the same thing with enumerate()
for index,items in enumerate(my_list):
  print("my_list[{}] : {}".format(index,items))

my_list[0] : dog
my_list[1] : cat
my_list[2] : fish
my_list[3] : chicken
my_list[4] : eggs
my_list[5] : duck
my_list[6] : Python
my_list[7] : Julia
my_list[8] : C++

**List Comprehension**

List comprehension is a syntactic way of creating a list based on the existing list, just like we did when copying the lists above. The basic structure of the syntax includes a for loop that traverses the list and evaluates a condition using the if.. else condition. It then stores the output of the condition as a new list. Let's take a look at a quick example:

In [19]:
my_list1 = [elem for index,elem in enumerate(my_list) if index % 2 == 0]
print(my_list1)

squares = [n**2 for n in range(5)]
print(squares)

['dog', 'fish', 'eggs', 'Python', 'C++']
[0, 1, 4, 9, 16]

**Traverse two lists together with `zip()`**

In [20]:
# iterate over two lists together uzing zip
for item1, item2 in zip(['pig','duck','butterfly'],[0,1,2]):
    print('first:', item1, 'second:', item2)

first: pig second: 0
first: duck second: 1
first: butterfly second: 2

**Exercises**
1. Write out the following code without using a list comprehension:\
`plus_thirteen = [number + 13 for number in range(1,11)]`
2. Use list comprehension or loops to create a list of first twenty cubes (i.e., `x^3 from 0-19`)

We are almost there. We have the building blocks we need to do basic programming. But Python has some other data structures we need to learn about.

## **Tuples**
Tuples are similar to lists, but they are *immutable*—they can’t be extended or modified. What is the point of this? Generally speaking: to pack together inhomogeneous data. Tuples can then be unpacked and distributed by other parts of your code.

Tuples may seem confusing at first, but with time you will come to appreciate them.

In [21]:
# tuples are created with parentheses, or just commas
a = ('Ryan', 33, True)
b = 'Takaya', 25, False
type(b)

tuple

In [22]:
# can be indexed like arrays
print(a[1]) # not the first element!

33

In [24]:
# and they can be unpacked
name, age, status = a
print(name,age,status)

Ryan 33 True

In [66]:
print(a.index('Ryan'))

0

**Exercises**
1. Consider the following tuple

`genres_tuple = ("pop", "rock", "soul", "hard rock", "soft rock", \
                "R&B", "progressive rock", "disco") `

Do the following:
* Use slicing to extract the first two elements in the tuple
* Find the index of the element `disco`

## **Dictionaries**
This is an extremely useful data structure. It maps **keys** to **values**.

Dictionaries are unordered!

In [43]:
#@title #### **Different ways to create dictionaries**
d = {'name': 'Timothee', 'age': 1} # Write your name and your age here
e = dict(name='Timothee', age=1) # Write someone else's name and their age here

In [44]:
#@title #### **Access Dictionary Items**
print(d['name'])
print("name:   ", d.get('name'  , 'Not Found'))
print("gender:   ", d.get('gender', 'Not Found'))

Timothee
name:    Timothee
gender:    Not Found

In [45]:
#@title #### **Updating Dictionary**
# Add a new variable-value pair:
d['height'] = (1,50) # a tuple, e.g. your height in (meters,centimeters)
d

{'age': 1, 'height': (1, 50), 'name': 'Timothee'}

In [46]:
#@title #### **Append Dictionary**
# update() add two dictionary together
newdict = dict(location='Lausanne',nationality='CH',birth_year='2021')
d.update(newdict)
print(d)

{'name': 'Timothee', 'age': 1, 'height': (1, 50), 'location': 'Lausanne', 'nationality': 'CH', 'birth_year': '2021'}

In [47]:
#@title #### **Remove Elements from Dictionary**
# pop(),del()
d2 = d.copy()
d2.pop('age')
del d['age']
print(f"Identical? {d==d2}")

Identical? True

In [48]:
#@title #### **Traverse Dictionary**
# iterate over keys
for k in d:
    print(k, d[k])

name Timothee
height (1, 50)
location Lausanne
nationality CH
birth_year 2021

In [49]:
# better way
for key, val in d.items():
    print(key, val)

name Timothee
height (1, 50)
location Lausanne
nationality CH
birth_year 2021

In [62]:
print(list(d.keys()))
print(list(d.values()))
print(list(d.items()))

['name', 'height', 'location', 'nationality', 'birth_year']
['Timothee', (1, 50), 'Lausanne', 'CH', '2021']
[('name', 'Timothee'), ('height', (1, 50)), ('location', 'Lausanne'), ('nationality', 'CH'), ('birth_year', '2021')]

In [64]:
#@title #### **Sort Dictionary**
# sorted()
states_dict = {'AL': 'Alabama', 'CA': 'California', 
               'NJ': 'New Jersey', 'NY': 'New York'}
sorted_keys = sorted(list(states_dict.keys()), reverse=False)
for key in sorted_keys:
    print('{} : {}'.format(key, states_dict[key]))

AL : Alabama
CA : California
NJ : New Jersey
NY : New York

**Exercises**
1. You are trying to find how much sale your 5 employees made recently:

Employee | Amount
--- | ---
Tom | 30000
Milton | 34000
Fred | 28000
Allen | 20000
Shelley | 38000

Build a dictionary based on the table above, find the key with the highest numerical amount. Print this sentence:\
`name` made the most sales recently, `name` made `amount`