<a href="https://colab.research.google.com/github/tbeucler/2022_Intro_Python/blob/main/Tutorials/W1_S1_Tutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Python Introduction**
In this first notebook, we will introduce the basic building blocks of the Python language and try to execute some codes.

Python has following 6 built-in Data-Types:
</h4>
<html>
<head>
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
</head>
<body>

<table>
  <tr>
    <th>Type</th>
    <th>Description</th>
    <th>Examples</th>
  </tr>
  <tr>
    <td><strong>int</font></td>
    <td>Integer</td>
    <td>123</td>
  </tr>
  <tr>
    <td><strong>float</font></td>
    <td>Floating point</td>
    <td>10.12</td>
  </tr>
  <tr>
    <td><strong>complex</font></td>
    <td>Complex values</td>
    <td>1.0+3j</td>
  </tr>
  <tr>
    <td><strong>bool</font></td>
    <td>Boolean values</td>
    <td>True</td>
  </tr>
  <tr>
    <td><strong>string</font></td>
    <td>String values</td>
    <td>'Bonjour'</td>
  </tr>
  <tr>
    <td><strong>NoneType</font></td>
    <td>None value</td>
    <td>None</td>
  </tr>
</table>

</body>
</html>

Python has four data structures:
</h4>
<html>
<head>
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
</head>
<body>

<table>
  <tr>
    <th>Type</th>
    <th>Description</th>
    <th>Examples</th>
  </tr>
  <tr>
    <td><strong>list</font></td>
    <td>Ordered collection of values</td>
    <td>[1, 'abc', 3, 1]</td>
  </tr>
  <tr>
    <td><strong>set</font></td>
    <td>Unordered collection of unique values</td>
    <td>{1, 'abc', 3}</td>
  </tr>
  <tr>
    <td><strong>tuple</font></td>
    <td>Immutable Ordered collection</td>
    <td>(1, 'abc', 3)</td>
  </tr>
</table>

</body>
</html>

Reference:
*  CUSP UCSL bootcamp 2017 (https://github.com/Mohitsharma44/ucsl17)

## Basic Variables: Numbers and Strings
The main difference between Python and languages like C++ and Fortran is that Python variables do not need explicit declaration to reserve memory space. The declaration happens automatically when a value is assigned to a variable. This means that a variable that was used to store a string can also be used to store an integer/array/list etc.

**Rules of naming a variable**

The start of the character can be an underscore _ or a capital or lowercase letter. However, it is generally recommended to use all uppercase for global variables and all lower case for local variables. The letters following the first letter can be a digit or a string. Python is a case-sensitive language. Therefore, **var** is not equal to **VAR** or **vAr**.

Apart from the above restrictions, Python keywords cannot be used as identifier names. These are:

||||||
|:-------|:--------|:---------|:--------|:----|
|and     |del      |from      |not      |while|
|as      | elif    |global    |or       |with |
|assert  | else    | if       |pass     |yield|
|break   | except  | import   |print
|class   | exec    | in       |raise
|continue| finally | is       |return 
|def     | for     | lambda   |try

Additionally, the following a built in functions which are always available in your namespace once you open a Python interpreter

```
abs() dict() help() min() setattr() all() dir() hex() next() slice() any()
divmod() id() object() sorted() ascii() enumerate() input() oct() staticmethod()
bin() eval() int() open() str() bool() exec() isinstance() ord() sum() bytearray()
filter() issubclass() pow() super() bytes() float() iter() print() tuple()
callable() format() len() property() type() chr() frozenset() list() range()
vars() classmethod() getattr() locals() repr() zip() compile() globals() map()
reversed() __import__() complex() hasattr() max() round() delattr() hash()
memoryview() set()
```

In [ ]:
# Basic Variables: Numbers and Strings
# comments are anything that comes after the "#" symbol
a = 1       # assign 1 to variable a
b = "hello" # assign "hello" to variable b

All variables are objects. Every object has a type (class). To find out what type your variables are.

In [ ]:
print(type(a), type(b))

<class 'int'> <class 'str'>

In [ ]:
# we can check for the type of an object
print(type(a) is int)
print(type(a) is str)

True
False

We can also define multiple variables simultaneously

In [ ]:
var1,var2,var3,var4 = 'Hello', 'World', 1, 2
print(var1,var2,var3,var4)

Hello World 1 2

#### **String**
We now focus on strings a bit. We will discuss


1.   String concatenation
2.   String indexing
3.   String slicing
4.   String formatting
5.   Built-in String Methods

In [ ]:
# String concatenation
text1,text2,text3,text4 = 'Introduction','to','Python','course'
print(text1+text2+text3+text4)

IntroductiontoPythoncourse

In [ ]:
#@title #####Can you figure out a way to add spaces between the words?
print(text1+' '+text2+' '+text3+' '+text4)

Introduction to Python course

Characters in a string can be accessed using the standard [ ] syntax. Python uses zero-based indexing which means that first character in a string will be indexed at 0th location.

In [ ]:
# String indexing
print(text1[0],text1[5],text1[-1],text1[-7])

I d n d

In [ ]:
# String slicing
print(text1[:5],text1[-5:],text1[:5]+text3[0:2])

Intro ction IntroPy

In [ ]:
# String formatting
#f strings allow you to format data easily, but require Python >= 3.6
print(f'The a variable has type {type(a)} and value {a}')
print(f'The b variable has type {type(b)} and value {b}')

The a variable has type <class 'int'> and value 1
The b variable has type <class 'str'> and value hello

Different objects attributes and methods, which can be accessed via the syntax `variable.method`

IPython will autocomplete if you press `<tab>` to show you the methods available. If you're using Google Colab, you can do the same with `<ctrl> + <space>`

In [ ]:
# this returns the method itself
b.capitalize

In [ ]:
# this calls the method
b.capitalize()
# there are lots of other methods

'Hello'

#### **Math Operators**
We now focus on using Python to perform mathematical operations.

In [ ]:
# Addition/Subtraction (Remember var3=1,var4=2)
print(var3+var4,var3-var4)

3 -1

In [ ]:
# Multiplication
print(var3*var4)

2

In [ ]:
# Division
print(var3/var4,type(var3/var4))

0.5 <class 'float'>

In [ ]:
# exponentiation
print(var4**(var3+2))

8

In [ ]:
# Modulus
7 % 2

1

In [ ]:
# rounding
round(9/10)

1

#### **Relational Operators**

In [ ]:
# Equal to (==)
a, b = 10, 10
a==b

True

In [ ]:
# Not Equal to (!=)
print(a!=b, 6!=2)

False True

In [ ]:
# Greater than (>) & Less than (<)
print(6>2, 2<6)

True True

#### **Assignment Operators**

In [ ]:
# Add AND (+=) [equivalent to var=var+10]
a = 10
a+=10
print(a)

20

In [ ]:
# Multiplication AND
a = 10
a*=5
print(10*5,a)

50 50

#### **Logical Operators**

In [ ]:
print(True and True, True and False, True or False, (not True) or (not False))

True False True True

In [ ]:
a, b = 'Hello','Bye'
print(a is b, a is not b)

False True

# **Control Flow**
The first thing you need to know is that Python programms are usually executed sequentially and a code statement will not be executed again once operated.

However, in real life situation you will often need to execute a snippet of codes for multiple times, or execute a portion of a code based on different conditions. We use control flow statements for these slightly more complex tasks.

In this notebook, we will be covering:

1. Conditional statements -- if, else, and elif
2. Loop statements -- for, while
3. Loop control statements -- break, continue, pass

Reference:
* IBM Congnitive Class - Intro to Python (https://github.com/computationalcore/introduction-to-python)
* CUSP UCSL bootcamp 2017 (https://github.com/Mohitsharma44/ucsl17)

## Conditional Statements
Here we combine relational operators, logical operators so that a program could have different information flow according to some conditions. In other words, some code snippets are executed only if some conditions are satisfied. 

The logic of the conditional statements is simple. `if` -> `condition met` -> do something. `if` -> `condition not met` -> do something else.

In [ ]:
x = 100
if x > 0:
    print('Positive Number')
elif x < 0:
    print('Negative Number')
else:
    print ('Zero!')

In [ ]:
# indentation is MANDATORY
# blocks are closed by indentation level
if x > 0:
    print('Positive Number')
    if x >= 100:
        print('Huge number!')

## Loop Statements
We use loop statements if we want to execute some code statements multiple times. An example where it would be appropriate to use loop statements:

1. We have multiple data files
2. We use a loop statements to read the files into memory iteratively.
3. Within the loop statements, we perform the same proprocessing algorithm on the imported data

In Python language, there are two main types of loop statements: `while` loop and `for` loop.

In [ ]:
# use range [range(5)==[0,1,2,3,4]]
for i in range(5):
    print(i)

####**Comments:**
Here we use the `range()` to create a sequence of numbers to drive the for loop.

**range(N)** will create a list of N numbers that starts with `0`.\
**range(A,B)** will create a list of end-start numbers that starts with `A` and ends with `B-1`\
**range(A,B,step)** starts and ends with the same numbers as `range(A,B)`. The only difference is that the difference between numbers changes from `1` to `step`

We can also use non-numerical iterators to drive for loops

In [ ]:
# iterate over a list we make up, and access both the indices and elements with enumerate()
for index,pet in enumerate(['dog', 'cat', 'fish']):
    print(index, pet, len(pet))

As we can see, the for loop is suitable if you want to repeat the operations in the loop for a fixed amount of times `N`. But what if you have no idea on how many times you should repeat a code snippet? This is not a trivial problem and actually often occurs in numerical optimization problems. 

For these problems. We will forego the for loop and use the while loop instead. The termination of a while loop is dependent on whether or not a condition remains satisfied or not. Theoretically, the loop can run forever if the condition you set is always true.

In [ ]:
# make a loop 
count = 0
while count < 10:
    # bad way
    # count = count + 1
    # better way
    count += 1
print(count)

####Loop control statements:
Sometimes we want to make the loop execution to diverge from its normal behaviour. Perhaps we want to leave the loop as long as some conditions are satistied to save some processing time. Sometimes we want the loop to skip some codes if data satisfies some conditions.

Two control statements are quite useful here: `break` and `continue`. We use for loop as an example.

In [ ]:
for i in range(1, 10):
    if i == 5:
        print('Condition satisfied')
        break
    print(i)  # What would happen if this is placed before if condition?

In [ ]:
for i in range(1, 10):
    if i == 5:
        print('Condition satisfied')
        continue
        print("whatever.. I won't get printed anyways.")
    print(i)

In [ ]:
for i in range(1, 10):
    if i == 5:
        print('Condition satisfied')
        pass
    print(i)